#!/usr/bin/make -f

export DH_OPTIONS
DESTDIR=debian/rest980

%:
	dh $@

build:
	npm install

override_dh_install:
	dh_install
	# remove color syntax from logs
	sed -i "s|logger('dev')|logger('tiny')|" $(DESTDIR)/opt/rest980/app.js
